.button {
  position: relative;
  font-family: "Poppins", sans-serif;
  width: 171px;
  height: 60px;
  color: var(--color);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid var(--color);
  border-radius: 80px;
  transition: 0.5s;

  &:hover {
    background-color: var(--bg);
    border-color: var(--hover);
    color: var(--hover);
  }

  &:hover > &__svg > rect {
    stroke-dashoffset: -480;
  }
  &__svg {
    position: absolute;
    right: 0;
    top: -0.5px;
    bottom: 0;
    left: -0.5px;
    pointer-events: none;
  }
  &__svg > rect {
    stroke: var(--bgLine);
    transition: 1s ease-in-out;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
  }

  .button__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
.opacity-none,
.opacity-none-2 {
  transition: 0.3s !important;
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0;
}

@media screen and (max-width: 500px) {
  .button,
  .opacity-none {
    font-size: 14px;
    width: 131px;
    opacity: 1;
    height: 40px;
  }
  .opacity-none-2 {
    height: 0;
    width: 0;
    opacity: 0;
    font-size: 0;
  }

  .button__svg {
    position: absolute;
    right: 0;
    left: -1px;
    top: -1px;
    bottom: 0;
  }
  .button__svg > rect {
    width: 131px;
    height: 39px;
    rx: 20px;
  }
}

.form-modal > .footer__button {
  position: static;
  margin-top: 20px;
  margin-left: auto;
}

.ant-modal-header {
  background-color: #36a112ff !important;
}
.ant-modal-title {
  color: #fff !important;
  font-size: 24px !important;
}
.ant-modal-content {
  background-color: #36a112ff !important;
}
.anticon-close {
  color: #fff;
  font-size: 20px;
}
.ant-modal-mask {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
}
